<%- include('partials/_head.ejs') %> 
	
<%- include('partials/_header.ejs') %> 
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Courses<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">

					<% if (success_message != undefined || validation_errors != undefined) { %>
						<%- include('partials/_mesaj.ejs') %> 
					<% } %>

				<div class="row"> 

					<%- include('partials/_course-items.ejs') %> 

            	</div><!-- end row -->
				
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="GET" id="site-searchform" action="/courses">
								<div>
									<input class="input-text form-control" name="search" id="search-k" placeholder="Search..." type="text">
									<button id="searchsubmit" value="Search" type="submit"></button>
								</div>
							</form>
						</div>
					</div>
					<%- include('partials/_course-categories.ejs') %> 
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->


<%- include('partials/_footer.ejs') %> 